@import './config';

html {
  font-family: $primary-font-family;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $secondary-font-family;
}

.container {
  width: 100 * $core-length;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
}
